body {
  min-width: 1200px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
  color: #1f1e1c;
  font-family: "Lora", "Palatino Linotype", serif;
}

.container_small {
  width: 900px;
  margin: 0 auto;
}

.container_big {
  width: 1100px;
  margin: 0 auto;
}

/* Header */

.header {
  background: url(img/logo_small.jpg);
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}

.header-nav {
  display: grid;
  padding-top: 15px;
  box-sizing: border-box;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fdfbfb;
  font-weight: 500;
  
}

.menu-item {
  margin-right: 35px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item-link {
  color: inherit;
  text-decoration: none;
  padding: 0 5px;
}

.menu-item-link:hover {
  border: 1px solid white;
}

.menu-item-link:active {
  border: 1px solid black
}

.promo {
  margin-top: 200px;
  font-weight: 200;
  text-align: center;
  vertical-align: bottom;
  color: #fdfbfb;  
  font-style: italic;
}

/* Galery */

.mini_galery {
  display: grid;
  grid-template-columns: 8;
  grid-template-rows: repeat(8, 7vw);
  gap: 3px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}
 
.gallery__item--1 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}
 
.gallery__item--2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 9;

} 
 
.gallery__item--3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
 
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6;

}
 
.gallery__item--5 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 9;

}

 .gallery__item--6 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
} 

/* Acquaintance */

.about_me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}


.acquaintance {
  line-height: 1.5;
  font-weight: 100;
  align-items:flex-start
}

/* Benefits */

.benefits {
  display: flex;
}

.iconblock-1 {
  margin:0px 0;
  transition: all 0.7s ease 0s;
  text-align:center;
}

.iconblock-1 .icon {
  border: 6px double black;
  display: block;
  height: 64px;
  width:64px;
  margin:0 auto;
  text-align: center;
  padding:18px;
  border-radius:100px;
  box-sizing: content-box;
  background-color: black;
}

.iconblock-1:hover .icon{
  transition: all 0.7s ease 0s;
  border: 6px double #fff;
  color:#fff;
  background: black;
}
.iconblock-1 h3{
  transition: all 0.7s ease 0s;
  color: black;
  position: relative;
  display:inline-block;    
  margin:0 0 6px 0;
  padding:6px;
  font-size:20px;
}    
.iconblock-1:hover h3{
  color: #000;
}    
.iconblock-1 h3:before {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height:2px;
  background: black;
  content: '';
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(6px);
}
.iconblock-1:hover h3:before,
.iconblock-1:focus h3:before {
  opacity: 1;
  transform: translateY(0px);
}

.img_icon {
  width: 70px;
  height: 70px;
  border-radius: 100px;
}

/* QR */

.qr_links {
  margin-top: 50px;
  display: flex;    
}

.qr_text {
  text-align: center;
  line-height: 1.5;
  font-weight: 200;
}

.qr_1 {
  margin-right: 20px;
  width: 300px;
  height: 310px;
}

.qr_2 {
  width: 300px;
  height: 320px;
}

/* Services */

.services_items {
  display: flex;  
}

.catalog-item {
  justify-content: space-between;  
}

.services_img {
  margin-right: 20px;
  width: 280px;
  height: 330px;
}

.services_title {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  border-bottom: 3px solid rgba(0, 0, 0, 0.27);
}

.services_info {
  font-style: italic;
  line-height: 1.5;
  font-weight: 100;
}















.delivery {
  display: flex;

  border-bottom: 3px solid rgba(0, 0, 0, 0.27);
}

.delivery_info {
  
}

.delivery_photo {
  width: 350px;
  height: 330px;
}


.review_page {

}

.review_photo { 
  display: flex;
}

.review__img {
  margin-right: 20px;
  width: 600px;
  height: 580px;
}


.footer {
  background: url(img/logo_small.jpg);
  background-color: #000000;
  background-position:right;
  background-repeat: no-repeat;
  height: 400px;
}


.footer-bottom {
  padding-top: 150px;
}

.footer-social {
  font-size: 0;
}

.footer-social b {
  margin-left: 140px;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.social-btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-left: 30px;
  vertical-align: middle;
  color: #ffffff;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.social-btn:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

.social-btn:active {
  border-color: #ffffff;
  opacity: 0.1;
}


.phone {
  color: #fdfbfb;
}